@charset "UTF-8";

body {
     font-family: 'Gothic A1', sans-serif;
     background-color: #f7f7f7;
     margin: 0;
     padding: 0;
}

.store-container2 {
    height: 70vh;
    align-items: stretch;
    flex-direction: column;
}

.toolbar {
    background-color: #f0f0f0; /* 회색 배경색 */
    padding: 10px 0; /* 상하 패딩 */
    text-align: center; /* 텍스트 가운데 정렬 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
.toolbar a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 링크 색상 */
    padding: 10px 20px; /* 패딩 추가 */
    display: block; /* 블록 레벨 요소로 변경 */
    border-radius: 5px; /* 모서리 둥글게 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 전환 효과 */
}
.toolbar li {
    margin: 0 50px; /* 리스트 항목 간의 간격 */
}
.toolbar ul {
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
    display: flex; /* 플렉스 박스를 사용하여 가로 정렬 */
    justify-content: center; /* 가운데 정렬 */
}
.toolbar a:hover {
    background-color: #ddd; /* 마우스 오버 시 배경색 변경 */
    color: #000; /* 마우스 오버 시 글자색 변경 */
}

.content {
     flex: 1;
     padding: 20px;
     text-align: center;
}

h2 {
     margin-top: 20px;
     margin-bottom: 10px;
}
        
h1 {
     color: #fa0050;
     margin-bottom: 20px;
     font-weight: bold;  
     font-family: 'Gothic A1'
     <div align="center" style="margin-top: 40px;">
}
table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
      background-color: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 10px;
}

th {
      background-color: #f2f2f2;
}

input[type="text"], textarea {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      margin-top: 4px;
}

input[type="file"] {
      margin-top: 4px;
}

.edit_in {
      background-color: #fa0050;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s;
}

.edit_in:hover, .edit_in:hover {
      background-color: #cc0033;
}
    